@model List<Product>
<nav class="container navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item dropdown mr-4">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Điện thoại</a>
                <div class="dropdown-menu row">
                    <a class="" style="max-width:40px" asp-controller="Home" asp-action="IndexByCategoryAndCompany" asp-route-companyId="1">
                        <img class="card-img-top" src="~/images/brandlogo/samsungnew-220x48-1.png" alt="..." />
                    </a>
                    <a class="" style="max-width:40px" asp-controller="Home" asp-action="IndexByCategoryAndCompany" asp-route-companyId="2">
                        <img class="card-img-top" src="~/images/brandlogo/logo-iphone-220x48.png" alt="..." />
                    </a>
                    <a class="" style="max-width:40px" asp-controller="Home" asp-action="IndexByCategoryAndCompany" asp-route-companyId="3">
                        <img class="card-img-top" src="~/images/brandlogo/nokia42-b_21.jpg" alt="..." />
                    </a>
                    <a class="" style="max-width:40px" asp-controller="Home" asp-action="IndexByCategoryAndCompany" asp-route-companyId="4">
                        <img class="card-img-top" src="~/images/brandlogo/logo-xiaomi-220x48-5.png" alt="..." />
                    </a>
                    <a class="" style="max-width:40px" asp-controller="Home" asp-action="IndexByCategoryAndCompany" asp-route-companyId="5">
                        <img class="card-img-top" src="~/images/brandlogo/oppo42-b_5.jpg" alt="..." />
                    </a>
                    <a class="" style="max-width:40px" asp-controller="Home" asp-action="IndexByCategoryAndCompany" asp-route-companyId="6">
                        <img class="card-img-top" src="~/images/brandlogo/vivo-logo-220-220x48-3.png" alt="..." />
                    </a>
                    <a class="" style="max-width:40px" asp-controller="Home" asp-action="IndexByCategoryAndCompany" asp-route-companyId="7">
                        <img class="card-img-top" src="~/images/brandlogo/realme42-b_37.png" alt="..." />
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown mr-4">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Máy tính bảng</a>
                <div class="dropdown-menu">
                    <a class="" style="max-width:40px" asp-controller="Home" asp-action="IndexByCategoryAndCompany" asp-route-companyId="8">
                        <img class="card-img-top" src="~/images/brandlogo/samsungnew-220x48-1.png" alt="..." />
                    </a>
                    <a class="" style="max-width:40px" asp-controller="Home" asp-action="IndexByCategoryAndCompany" asp-route-companyId="9">
                        <img class="card-img-top" src="~/images/brandlogo/ipad-(apple)522-b_4.jpg" alt="..." />
                    </a>
                    <a class="" style="max-width:40px" asp-controller="Home" asp-action="IndexByCategoryAndCompany" asp-route-companyId="10">
                        <img class="card-img-top" src="~/images/brandlogo/logo-xiaomi-220x48-5.png" alt="..." />
                    </a>
                    <a class="" style="max-width:40px" asp-controller="Home" asp-action="IndexByCategoryAndCompany" asp-route-companyId="11">
                        <img class="card-img-top" src="~/images/brandlogo/oppo42-b_5.jpg" alt="..." />
                    </a>
                    <a class="" style="max-width:40px" asp-controller="Home" asp-action="IndexByCategoryAndCompany" asp-route-companyId="12">
                        <img class="card-img-top" src="~/images/brandlogo/lenovo522-b_6.jpg" alt="..." />
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown mr-4">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">LapTop</a>
                <div class="dropdown-menu">
                    <a class="" style="max-width:40px" asp-controller="Home" asp-action="IndexByCategoryAndCompany" asp-route-companyId="13">
                        <img class="card-img-top" src="~/images/brandlogo/logolaptop/logo-hp-149x40-1.png" alt="..." />
                    </a>
                    <a class="" style="max-width:40px" asp-controller="Home" asp-action="IndexByCategoryAndCompany" asp-route-companyId="14">
                        <img class="card-img-top" src="~/images/brandlogo/logolaptop/logo-asus-149x40.png" alt="..." />
                    </a>
                    <a class="" style="max-width:40px" asp-controller="Home" asp-action="IndexByCategoryAndCompany" asp-route-companyId="15">
                        <img class="card-img-top" src="~/images/brandlogo/logolaptop/logo-acer-149x40.png" alt="..." />
                    </a>
                    <a class="" style="max-width:40px" asp-controller="Home" asp-action="IndexByCategoryAndCompany" asp-route-companyId="16">
                        <img class="card-img-top" src="~/images/brandlogo/logolaptop/logo-dell-149x40.png" alt="..." />
                    </a>
                    <a class="" style="max-width:40px" asp-controller="Home" asp-action="IndexByCategoryAndCompany" asp-route-companyId="17">
                        <img class="card-img-top" src="~/images/brandlogo/logolaptop/logo-lenovo-149x40.png" alt="..." />
                    </a>
                    <a class="" style="max-width:40px" asp-controller="Home" asp-action="IndexByCategoryAndCompany" asp-route-companyId="18">
                        <img class="card-img-top" src="~/images/brandlogo/logolaptop/logo-msi-149x40.png" alt="..." />
                    </a>
                    <a class="" style="max-width:40px" asp-controller="Home" asp-action="IndexByCategoryAndCompany" asp-route-companyId="19">
                        <img class="card-img-top" src="~/images/brandlogo/logolaptop/logo-macbook-149x40.png" alt="..." />
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<section class="">
    <div class="container px-4 px-lg-5 mt-5">
        <h3 class="text-info">@ViewBag.CompanyName</h3>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach(var x in Model){
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <a asp-controller="Home" asp-action="ProductDetail" asp-route-id="@x.Id">
                            <img class="card-img-top" src="/@x.ImageUrl" alt="..." />
                        </a>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@x.Name</h5>
                                <!-- Product price-->
                            @Html.FormatValue(x.Price, "${0:#,##0}")
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="addtocart btn btn-outline-dark mt-auto" data-productID="@x.Id" asp-action="AddToCart" asp-controller="Cart" asp-route-productId="@x.Id">
                                    Add To Cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    
    </div>
</section>